head  
  meta(charset='utf-8')
  meta(name='viewport',content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  meta(name="apple-mobile-web-app-capable",content="yes")
  title BirdReader - #{title}
  -if (typeof base !== 'undefined') {
  base(href='#{base}')
  -}
  
  link(rel="stylesheet",href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
  link(rel="stylesheet",href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css")
  link(rel="stylesheet",href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
  link(rel='stylesheet',href='stylesheets/style.css')
  link(rel='alternate',type='application/rss+xml',title='BirdReader - Favourites',href='/rss.xml')
  // Le HTML5 shim, for IE6-8 support of HTML5 elements
  //[if lt IE 9]
  script(src='https://html5shim.googlecode.com/svn/trunk/html5.js')
  //[endif]
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='javascript/path.js')
  script(src='javascript/reader.js')
  // Le fav and touch icons
  link(rel='shortcut icon',href='images/icon144.png')
  link(rel='apple-touch-icon-precomposed',sizes='144x144',href='images/icon144.png')
  link(rel='apple-touch-icon-precomposed',sizes='114x114',href='images/icon114.png')
  link(rel='apple-touch-icon-precomposed',sizes='72x72',href='images/icon72.png')
  link(rel='apple-touch-icon-precomposed',href='images/icon57.png')
