div.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container
      a.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.readerlogo(href='/') &nbsp;
      div.nav-collapse.collapse
        ul.nav
          li
            a(href="/unread") Unread
          li
            a(href="/read") Read
          li
            a(href="/starred") Starred


