div.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container
      a.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='#') #{title}
      div.nav-collapse.collapse

