div.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container
      a.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.readerlogo(href='/') &nbsp;
      div.nav-collapse.collapse
        ul.nav
          li
            a(href="/unread") Unread
              span.label.label-success.ml5 #{stats.unread}
          li
            a(href="/read") Read
              span.label.ml5 #{stats.read}
          li
            a(href="/starred") Starred
              span.label.label-warning.ml5 #{stats.starred}
          li
            a(href="/feeds") Feeds


