h2 Add a feed
div Please enter the URL of an RSS feed or a an HTML which contains an RSS link tag

div#addfeedback

form(onsubmit='return addFeed()')
  label(for='url') URL
  input(id='url',type='text',name='url')
  div.spacer
  input(type='submit',value='Add')
