doctype html
html(lang='en')  
  include includes/header
  body 

    include includes/topbar                                             
    
    div.container.mt40
      div(id='target')

    include includes/footer
