!!! 5
html(lang='en')  
  include includes/header
  body 

    include includes/topbar                                             
    
    div.container.mt40
      div(id='single') hello world

    script(type='text/javascript')
      loadNextArticle()
    include includes/footer
