
.readerlogo {
  background: transparent url('/images/icon.png') no-repeat;
  padding-left:40px;
  padding-top:8px;
  display: block;
  float: left;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #999;
  margin-top:3px;
  height:30px;
}

.readerlogo:hover {
  text-decoration:none;
}
.showable {
  display: none;
  background-color:white;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  margin-top:10px;
  padding:10px;
}

.tobeshown {
  display:none;
}

body {

}

.ml5 {
  margin-left: 5px;
}
.mb20 {
  margin-bottom:20px;
}

.mb10 {
  margin-bottom:10px;
}

.pb20 {
  padding-bottom:20px;
}

.mr5 {
  margin-right:5px;
}


.mr10 {
  margin-right:10px;
}

.ml10 {
  margin-left:10px;
}

.mr40 {
  margin-right:40px;
}

.line {
  margin-bottom:10px;
  border-top:1px solid #888;
}

ol {
  margin:0;
  margin-top:40px;
  list-style:none;
}

li {
  display:block;
}
.tweet {
  position: relative;
  min-height: 51px;
  padding: 9px 12px;
  border-bottom: 1px solid #e8e8e8;
}

.feed {
  position: relative;
  min-height: 51px;
  padding: 9px 12px;
  border-bottom: 1px solid #e8e8e8;
}

.feedName {
  font-weight: bold;
  color: #333;
  font-size: 18px;
  margin-bottom:5px;
}
.title {
  fine-size:14px;
}
.title a:link, .title a:visited {
  text-decoration: none;
  color:#666;
}
.tags {

}

.expand a:link, .expand a:visited {
  color: #999;
} 

h1 {
  margin-top:60px;
}
.hero-unit {
  padding:20px;
  margin-bottom:10px;
  padding-left:60px;
}
.hero-unit h1 {
  font-size: 30px;
}

.favicon {
  width:32px;
  height:32px;
}

.miniicon {
  width:16px;
  height:16px;
  margin-right:10px;
  margin-left:10px;
}

